<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuários</title>
</head>
<body>
    <h1>Bem-vindo ao Spring Boot com Thymeleaf!</h1>

    <h2>Lista de Usuários:</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Usuário</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}">ID</td>
                <td th:text="${user.username}">Usuário</td>
                <td th:text="${user.email}">Email</td>
            </tr>
        </tbody>
    </table>

    <p th:if="${#lists.isEmpty(user)}">Nenhum usuário encontrado.</p>

</body>
</html>
